th {
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: left;
}

td {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: left;
}
