.checkbox {
  max-height: 30vh;
  overflow: auto;
}

.chart-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.chart-section-col {
  flex: 1;
  min-width: 300px;
}

.background-red {
  background-color: #dc2626;
}

.background-yellow {
  background-color: #facc15;
}

.background-orange {
  background-color: #ea580c;
}

.background-green {
  background-color: #16a34a;
}

.color-red {
  color: #dc2626;
}

.color-green {
  color: #16a34a;
}

.card {
  background: #0a1635;
  border: 1px solid #373737;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 16px;
  padding: 32px;
}
