table {
  position: relative !important;
}

td,
th {
  background-color: rgb(5, 6, 30);
}

th {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 12px !important;
}

td {
  padding: 12px 6px !important;
  min-height: 56px;
}

th:first-child {
  top: 0 !important;
  z-index: 3 !important;
}

th:first-child,
td:first-child {
  min-width: 240px !important;
  position: sticky;
  z-index: 2;
  left: 0;
  /* background-color: rgb(17, 24, 39) !important; */
  padding: 12px !important;
}

.scrollbar-table {
  max-height: calc(100vh - 200px);
}

.scrollbar-table::-webkit-scrollbar {
  display: none;
}

.checkbox {
  max-height: 30vh;
  overflow: auto;
}
