/* Remove if fonts are not used */
@import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css';
@import '~@fontsource/poppins/400.css';
@import '~@fontsource/poppins/500.css';
@import '~@fontsource/poppins/600.css';
@import '~@fontsource/poppins/700.css';
@import '~@fontsource/poppins/800.css';
@import '~@fontsource/poppins/900.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.dropdown-button-style,
.dropdown-button-children-style {
  background: linear-gradient(263.89deg, #004889 37.01%, rgba(0, 53, 190, 0.00100037) 115.92%, rgba(12, 48, 142, 0) 115.93%);
}

/* Add this to your global CSS file or in the component's CSS file */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 255, 0.1);
  /* Light blue border */
  border-left-color: #2563EB;
  /* Blue color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinner 0.8s linear infinite;
}

/* Autofill background fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}