/* This will increase specificity to ensure it overrides the .rd3t-link class */
.rd3t-tree-container .custom-link-path {
    stroke: white !important;   /* Set the path color to white and add !important */
    stroke-width: 1 !important; /* Adjust the thickness if needed */
    opacity: 20% !important;
  }

@keyframes blink-node {
  0% {
    opacity: 1; 
  }
  50% {
    opacity: .75; 
  }
  100% {
    opacity: .5; 
  }
}

.blinking-node {
  animation: blink-node 1s infinite;
}

@keyframes blink-bg {
  0% {
    background-color: rgba(var(--dynamic-color), 1); 
  }
  50% {
    background-color: rgba(var(--dynamic-color), .75); 
  }
  100% {
    background-color: rgba(var(--dynamic-color), .5); 
  }
}

.blinking-bg {
  animation: blink-bg 1s infinite !important;
}
